@using Microsoft.AspNetCore.Authorization
@using System.Globalization;
@inject IAuthorizationService Authorization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Sessie>

<meta charset="utf-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="row m-0">
    <div id="maandLijst" class="list-group list-group-horizontal flex-fill" id="list-tab" role="tablist">
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="9" class="list-group-item list-group-item-action flex-fill text-center" id="9">September</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="10" class="list-group-item list-group-item-action flex-fill text-center" id="10">Oktober</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="11" class="list-group-item list-group-item-action flex-fill text-center" id="11">November</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="12" class="list-group-item list-group-item-action flex-fill text-center" id="12">December</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="1" class="list-group-item list-group-item-action flex-fill text-center" id="1">Januari</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="2" class="list-group-item list-group-item-action flex-fill text-center" id="2">Februari</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="3" class="list-group-item list-group-item-action flex-fill text-center" id="3">Maart</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="4" class="list-group-item list-group-item-action flex-fill text-center" id="4">April</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="5" class="list-group-item list-group-item-action flex-fill text-center" id="5">Mei</a>
        <a asp-controller="Sessie" asp-action="Index" asp-route-maand="6" class="list-group-item list-group-item-action flex-fill text-center" id="6">Juni</a>
    </div>
</div>

<div class="container p-2 mb-3 mt-3 mtext-dark rounded bg-light">
    <h1 class="display-4">Sessies voor @ViewData["maandString"]</h1>
</div>

@if (TempData["sessieError"] != null)
{
    <div class="alert alert-warning">@TempData["sessieError"]</div>
}

@if (Model != null)
{
    <section class="sessie-overzicht no-padding-top">
        @foreach (var sessie in Model)
        {
            <!-- Sessie-->

            <div class="sessie">
                <div class="row bg-white has-shadow justify-content-between align-items-center">
                    <div class="left-col col-4 d-flex flex-column">
                        <h3 class="h4">@sessie.Titel</h3>
                        <medium>@sessie.Gastspreker</medium>
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <span class="datum">@sessie.GetDatumString()</span>
                        <span class="locatie">@sessie.GetLokaalString()</span>
                    </div>
                    <div class="right-col col-4 d-flex align-items-center">
                        <span class="plaatsen flex-grow-1">@sessie.GetStatusString()</span>

                        @if ((await Authorization.AuthorizeAsync(User, "Gebruiker")).Succeeded)
                        {
                            @if ((await Authorization.AuthorizeAsync(User, "Verantwoordelijke")).Succeeded)
                            {
                                if ((sessie.Status == SessieType.OPEN) || (sessie.Status == SessieType.GESLOTEN))
                                {
                                <a title="Registreer aanwezigheden" class="btn btn-secondary m-1" asp-controller="Sessie" asp-action="RegistreerAanwezigheden" asp-route-id="@sessie.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a title="Bekijk aanwezigheden" class="btn btn-secondary m-1" asp-controller="Sessie" asp-action="Aanwezigheden" asp-route-id="@sessie.Id"><i class="fa fa-list" aria-hidden="true"></i></a>
                                }
                            }
                            else if (sessie.Status == SessieType.AANGEMAAKT)
                            {
                                <a title="@sessie.Schrijfstatus(User.Identity.Name)" class="btn btn-secondary m-1" asp-controller="Sessie" asp-action="SchrijfIn" asp-route-id="@sessie.Id">
                                    @if (@sessie.Schrijfstatus(User.Identity.Name) == "Inschrijven")
                                    {
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                    }

                                </a>
                            }
                        }
                        <a title="Details" class="btn btn-secondary m-1" asp-controller="Sessie" asp-action="Detail" asp-route-id="@sessie.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        }
    </section>
}

<script>
    var maandIndex = @Html.ViewData["maand"]
        $("#maandLijst a").each(function () {

        if (this.id == @Html.ViewData["maand"]) {
            this.classList.add("active")
        }
    });
</script>

