@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@model G002_project_dotnet.Models.ViewModels.SessieDetailsViewModel

@{
    ViewData["Title"] = "Schrijf feedback";
}
<body>

    <div class="card mb-3">
        <h1 class="card-header">@Model.Titel</h1>
        <h5 class="card-header">@Model.Gastspreker</h5>
        @if (!String.IsNullOrEmpty(Model.Beschrijving))
        {
            <div class="card-body">
                <p class="beschrijving card-text">@Model.Beschrijving</p>
            </div>
        }
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <strong>Wanneer? </strong>@Model.Datum</li>
            <li class="list-group-item"> <strong>Waar? </strong>@Model.Lokaal</li>
            <li class="list-group-item">IT-Lab verantwoordelijke: @Model.Verantwoordelijke.Naam</li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="text-left btn-inschrijven m-3">
                <form asp-controller="Sessie" asp-action="VerstuurFeedback" asp-route-id="@Model.Id">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Geef feedback</label>
                        <textarea id="feedback" name="feedback" class="form-control" id="feedback" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary text-white">Verstuur feedback</button>
                </form>
            </div>
        }
    </div>
</body>
